.hotspot .icon {
  background-color: #000;
}
.hotspot p{
  margin: 0;
}
.legend {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.legend-item {
    display: flex;
    align-items: center;
    width: 45%; /* Para dividir en dos columnas */
}

.legend-item img {
    width: 35px; /* Tamaño del ícono */
    height: 35px;
    margin-right: 10px;
}
.flex-container {
  display:flex;
  align-items: center;
}