     #bio2023-204-chart-1 {
            width: 500px;
            height: 600px;
            margin: auto;
            font-family: Rubik, sans-serif;
        }

        #bio2023-204-chart-1 svg {
            display: block;
            margin: auto;
            mix-blend-mode: multiply;
        }
        #bio2023-204-chart-1 svg circle {
            mix-blend-mode: multiply;
        }
        #bio2023-204-chart-1 .label {
            font-weight: normal;
            /*text-anchor: middle;*/
        }
        #bio2023-204-chart-1 .line {
            stroke: black;
            stroke-dasharray: 2,4;
        }
        #bio2023-204-chart-2 {
            height: 700px;
            width:700px;
            position: relative;
            
        } 
        #bio2023-204-chart-2 > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }
        #bio2023-204-bars {
            position: relative;
            width: 500px;
          margin-top: 32px;
        }
.bio2023-204-tabla .col-dt-8 {
margin: 0 auto;
  float: initial;
}
.bio2023-204b {
padding-bottom: 0 !important;
}
.convenciones {
margin: 24px 0;
}
.convenciones ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
 			 gap: 8px;
        }
.convenciones ul li {
  			display: flex;
            justify-content: center;
 			 gap: 4px;
  align-items:center;
}
.convenciones img {
width: 24px;
}