.video-galeria {
	
}
.col-dt-10 {
margin: 0 auto;
  float: initial;
  
}
.video-galeria .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 2rem;
}
.video-galeria .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
